.watchlist-cont {
  max-width: 1000px;
  max-height: 690px;
  background: #181818;

  .container {
    width: inherit;
    max-width: 1000px;

    .no-disp {
      border: 1px solid #ffffff;
      margin: auto;
      width: 400px;
      padding: 25px;
      color: #ffffff;
    }
  }
}

.list {
  .img-cont {
    width: 45px;
    height: 45px;
    margin: 1px;
    overflow: hidden;
    border-radius: 2px;

    img {
      height: 70px;
    }
  }
}
