.sidebar-container {
  margin-top: 40px;
  width: 215px;
  background: #121212;

  ul {
    list-style-type: none;
    margin: 12px 21px;
    padding: 0;

    a {
      text-decoration: none;
    }

    li {
      margin: 7px 0;
      color: #a0a0a0;

      &:hover {
        color: #ffffff;
      }
    }

    .active {
      color: #ffffff;
    }
  }
}

.component-cont {
  display: flex;
  flex-direction: row;
  height: 100%;
}
// component-cont

.topbar-container {
  background: #121212;
  height: 40px;
  position: absolute;
  width: 100%;
}

.footer-container {
  height: 80px;
  background: #282828;
}
