.component-cont{
 display: flex;
 flex-direction: row;
 margin-left: 55px;
 height: 100%;
  .main-cont{
   display: flex;
   flex-direction: row;
   padding: 50px;
   background: linear-gradient(to bottom right, #181818, #181818);
   color: #ffffff;
  .description{
    margin: 20px 40px;
  }

  } // main-cont

} // component-cont
