.component-cont{
 display: flex;
 flex-direction: row;
 height: 100%;

  .main-cont{
   display: flex;
   flex-direction: row;
   padding: 50px;
   background: linear-gradient(to bottom right, #181818, #181818);
   color: #ffffff;
  .description{
    margin: 20px 40px;
  }

  .options-btn-cont{
    display: flex;
    flex-direction: row;
    .opt-btn{
    border: 1px solid #ffffff;
    padding: 3px 7px 2px 7px;
    border-radius: 3%;
    margin: 5px;
   }
  }

  } // main-cont

} // component-cont
